*{
    margin: 0px;
    padding: 0px;
}

#header{
    background-image: url('../img/banner.jpg');
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

#logo{
  margin-left: 40px;
  margin-top: 40px;
  height: 15%;  
}

.container{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
}

.imagem img{
    width: 1300px;
    height: 800px;
}

.texto{
    line-height: 2;
    text-align: justify;
    padding-right:100px ;
}