@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

#header{
    background-image: url('../img/banner.jpg');
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

#logo{
  margin-left: 40px;
  margin-top: 40px;
  height: 15%;  
}

.container{
    display: flex;
    width: 100%;
    align-items: top;
    gap: 5px;
}

.container2{
    display: flex;
    width: 100%;
    align-items: top;
}

.imagem img{
    width: 1300px;
    height: 1000px;
}

.texto h2{
    font-size: 90px;
    color: #991659;
    font-family: "Pacifico", cursive;
}

.texto{
    line-height: 2;
    text-align: justify;
    padding-right:100px ;
    font-size: 40px;
    color: #766159;
    font-family: "Funnel Sans", sans-serif;
}

#destaques{
    margin-top: 80px;
}

.desq1{
    display: flex;
    width: 25%;
    flex-direction:column;
    align-items: center;
    text-align: center;
}

.text_desq {
    color: #766159;
    font-size: 60px;
    font-family: "Pacifico", cursive;
}

.container2{
    display: flex;
    width: 100%;
    align-items: top;
}

/*Section nome*/

#nome{
    margin-top: 100px;
    background-color: #fef3e2;
}

.texto_bolo{
    line-height: 2;
    text-align: justify;
    font-size: 35px;
    color: #766159;
    padding: 30px;
    margin-left: 200px;
    font-family: "Funnel Sans", sans-serif;
}

#bolo{
    border-radius: 100px;
    width: 600px;
    height: 800px;
    padding: 30px;
}
.container_nome{
    display: flex;
    width: 90%;
    align-items: top;
    gap: 5px;
    margin: 0 auto;
}

.btn{
    background-color: #fcd081;
    color: #c63959;
    font-weight: bold;
    font-size: 40px;
    border: 0px;
    padding: 12px 20px 12px 20px;
    border-radius: 600px;
}

.btn:hover{
    background-color: #c63959;
    color: #fcd081;
}


